# Builds
dist
build
coverage

# Dependencies
node_modules

# Logs
*.log
npm-debug.log*

# Configurações
package-lock.json
.env
.env.local

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Vite
vite.config.js
postcss.config.js
tailwind.config.js

# Babel
babel.config.cjs

# Outros
public/
*.min.js
*.map